* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

.prices-items {
  max-width: 332px;
  padding: 34px 41px;

  margin: 100px;


  border: 1px solid #E3E1D5;
  border-radius: 20px;
}

.prices-element {
  max-width: 250px;
  margin-bottom: 32px;
  border-radius: 20px;
  background-color: #EDF2EC;
}

.prices-element:last-child {
  margin-bottom: 0;
}

.prices-element .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding-left: 40px;
  cursor: pointer;
}

.prices-element .label .svg {
  width: 16px;
  height: 16px;
  margin-right: 40px;
  background: url(../assets/img/accordion-btn.svg) no-repeat center;
  background-size: cover;
}

.prices-element .content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 0;
  border-radius: 0 0 20px 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: transparent;
  transition: 0.5s;
  font-size: 10px;
}

.prices-element .content .price {
  font-size: 12px;
  color: #000000;
}

.prices-element .content .price .color {
  color: #E06733;
}

.prices-element .content .price .sign {
  font-size: 12px;
}

.prices-element .content .price .amount {
  font-size: 16px;
}

.prices-element .content button {
  width: 85px;
  height: 25px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 12px;
}

.prices-element.active {
  background-color: #D6E7D2;
}

.prices-element.active .label .svg {
  transform: rotate(360deg);
  transition: transform 0.5s;
  background: url(../assets/img/accordion-btn-active.svg) no-repeat center;
}

.prices-element.active .content {
  height: calc(154px - 50px);
}